html {
  margin: 0px;
}

body {
  margin: 0px;
  font-family: 'Roboto', sans-serif;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  background: rgb(37,37,37);
  background: linear-gradient(146deg, rgba(37,37,37,1) 0%, rgba(116,115,115,1) 100%);
}

*, *::before, *::after {
  box-sizing: inherit;
}

h1 {
  margin: 1rem;
  font-size: 50px;
}

h2 {
  margin: 1rem;
  font-size: 25px;
  background-color: rgba(0, 0, 0, 0)
}

.header {
  width: 100%;
  padding: 2rem 0;
  text-align: center;
  background: rgb(255,0,0);
  background: linear-gradient(100deg, rgba(200,0,0,1) 0%, rgba(9,9,121,1) 59%, rgba(0,212,255,1) 100%);
  color: white;
}

.header .header-subtitle{
  font-size: 16px;
}

button{
  margin: .15rem 0rem;
}

button:hover{
  cursor: pointer;
}

.btn {
  border: 0.05rem solid hsl(0, 0%, 40%);
  border-radius: 0;
  background-color:hsl(0, 0%, 90%);
  font-size: 14px;
  padding: 0.2rem 0.5rem;
}

.btn:hover {
  border: 0.05rem solid hsl(0, 0%, 20%);
}

.body-divider {
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

textarea{
  resize: none;
  outline: none;
}

textarea::selection{
  border-color:hsl(0, 0%, 20%);
}

.ioTextDiv{
  height: 100%;
  width: 100%;
}

.ioTextArea {
  height:100%;
  width: 100%;
  min-width: 15.5rem;
}

#encryptInputBox{
  height: 2rem;
}

.data{
  max-width:700px;
}

.panel{
  background-color: white;
  border: 0.05rem solid hsl(0, 0%, 50%);
  border-radius: 0.1rem;
}

.panel-heading {
  background-color:hsl(0, 0%, 80%);
  padding: 0.5rem;
  font-weight: medium;
}

.panel-body {
  padding: 0.5rem;
}

.data { grid-area: dataArea;}
.inputAreaDiv { grid-area: inputArea;}
.outputAreaDiv { grid-area: outputArea;}
.optionsPanel {grid-area: optionsPanelArea;}

.cipher-grid {
  padding: 0.75rem;
  grid-gap: 0.75rem;
  display: grid;
  background-color: rgba(0, 0, 0, 0.5);
  border: 0.1rem solid hsl(0, 0%, 50%);
  border-radius: 0.1rem
}

.cipher-grid-item {
  background-color: white;
  border: 0.05rem solid hsl(0, 0%, 50%);
  border-radius: 0.1rem;
  box-sizing: border-box;
  box-shadow: 0.1rem 0.1rem 0.1rem rgba(0,0,0,0.2);
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-menu {
  color: hsl(0, 0%, 20%);
}

.dropdown::selection .dropdown-menu {
  display: block;
}

li::marker { /* bullet points */
  color: black;
}

.list-divider {
  border-top: 0.05rem solid hsl(0, 0%, 50%);
  width: 100%;
  transform: translateY(50%);
}

li.list-divider::marker {/*doesn't work*/
  visibility: hidden;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 35%;
  background-color: #f9f9f9;
  min-width: 10rem;
  box-shadow: 0.1rem 0.1rem 0.1rem rgba(0,0,0,0.2);
  padding: 0.75rem 1rem;
  z-index: 1;
  border: 0.05rem solid hsl(0, 0%, 50%);
  border-radius: 0.1rem;
}

@media only screen and (min-width:901px){
  .cipher-grid {
    grid: 
    'dataArea inputArea optionsPanelArea'
    'dataArea outputArea optionsPanelArea';
    grid-auto-columns: max-content 3fr 1fr;
    grid-auto-rows: 1fr 1fr;
  }
}

@media only screen and (max-width:900px){
  .cipher-grid {
    grid: 
    'inputArea optionsPanelArea'
    'outputArea optionsPanelArea'
    'dataArea dataArea';
    grid-auto-columns: 3fr 1fr;
    grid-auto-rows: 1fr 1fr 1fr;
  }
  header {
    visibility: hidden;
  }
}