body{
  padding: 40px;
}

input{
  display: block;
  margin: auto;
}

textarea{
    resize:none;
    width:70em;
    height:20em;
    margin: 5px 1px;
}

button{
  margin: 9px 0px;
}

.optionsButtons{
  position:relative;
}

.caesarOptions{
  position:absolute;
}

.affineOptions{
  position:absolute;
  left:127px;
}
