html {
    height: 100vh;
    width: 100vw;
    margin: 0;
    width: 0;
    overflow: hidden;
}

body {
    display: grid;
    height: 100%;
    width: 100%;
    column-gap: 15px;
    row-gap: 15px;
}

#main {
    position: relative;
    justify-content: left;
    height: 40%;
    margin: 0;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

#main > canvas,
#main > #dtSlider {
    position: absolute;
    left: 0;
    top: 0;
}

#main > #dtSlider {
    right: 10px;
    top: 10px;
    width: 25%;
    margin-left: 1%;
}

#main > #top1{
    position: absolute;
    left: 306px;
    top: 8px;
}

#main > #top2{
    position: absolute;
    left: 338px;
    top: 8px;
}

#main > #bot1{
    position: absolute;
    right: 8px;
    bottom: -250px;
}

#main > #bot2{
    position: absolute;
    right: 38px;
    bottom: -250px;
    z-index: 2;
}

#main > #bot3{
    position: absolute;
    right: 90px;
    bottom: -250px;
    display: none;
}

#main > label{
    position: absolute;
    right: 90px;
    bottom: -250px;
    border: 1px solid #666;
    border-radius: 2px;
    padding: 2px;
    background: #EEE;
    display: inline-block;
}

#graph {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}

#graphContainer {
    width: 43vw;
    height: 47vh;
}

#graphSettings {
    display: flex;
    flex-direction: row;
}

#graphSettings > select,
#graphSettings > button {
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
}

#settings {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    margin-top: -110px;
    margin-bottom: -100px;
}

#panelContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.objectPanelObject{
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    margin-bottom: 10px;
}

.objectPanelObject > input{
    margin-bottom: 5px;
    width: 30px;
}